

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro"
}

h2{
    font-weight: bold;
}

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.origin {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;

}
#startlocation{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border:none;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destination {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: flex-start;

}

#endLocation{
    width: 100%;
    height: 50px;
    margin: 10px;
    border:none;
}

.homepage{
    display: flex;
    flex-wrap: wrap;
}

.buttonIcon{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px;
}

.locateMe{
    cursor: pointer;
}

.buttonIconContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header{
    display: flex;
    background-color: white;
    width: 100%;
    height: 10%;
    justify-content: center;

}

.submitButton{
    height: 50px;
    margin-top: 10px;
}

#submitButton{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modeButton{
    background-color: #9b9b9b;
    border-radius: 50%;
}

::placeholder{
    color: #79a854;
}

input{
    color: #79a854;
}

.highlightedIcon{
    background-color: #79a854!important;
}

#WALKING{
    cursor: pointer;
}

#BICYCLING{
    cursor: pointer;
}

#TRANSIT{
    cursor: pointer;
}

#TRANSIT1{
    cursor: pointer;
}

#DRIVING{
    cursor: pointer;
}

